In [1]:
%load_ext sql

import pandas as pd
import boto3
import json

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY =config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')
REGION_NAME = config.get('AWS', 'REGION_NAME')

DWH_CLUSTER_TYPE = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_DB_PORT= config.get("CLUSTER","DB_PORT")
DWH_DB_NAME= config.get("CLUSTER","DB_NAME")

DWH_ROLE_ARN=config.get("IAM_ROLE", "ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

In [3]:
pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DB_NAME", "DB_USER", "DB_PASSWORD", "DB_PORT", "ROLE_ARN"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB_NAME, DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB_PORT, DWH_ROLE_ARN]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                 DB_NAME         dwh
5                 DB_USER     dwhuser
6             DB_PASSWORD    Passw0rd
7                 DB_PORT        5439
8                ROLE_ARN     dwhRole

In [4]:
ec2 = boto3.resource('ec2',
                        region_name="us-east-1",
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                        region_name="us-east-1",
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam', aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET,
                        region_name='us-east-1'
                    )

redshift = boto3.client('redshift',
                        region_name="us-east-1",
                        aws_access_key_id=KEY,
                        aws_secret_access_key=SECRET
                       )

In [5]:
bucket=s3.Bucket('udacity-dend')

log_data_files = [filename.key for filename in bucket.objects.filter(Prefix='log-data')]
log_data_files[:10]

['log-data/',
 'log-data/2018/11/2018-11-01-events.json',
 'log-data/2018/11/2018-11-02-events.json',
 'log-data/2018/11/2018-11-03-events.json',
 'log-data/2018/11/2018-11-04-events.json',
 'log-data/2018/11/2018-11-05-events.json',
 'log-data/2018/11/2018-11-06-events.json',
 'log-data/2018/11/2018-11-07-events.json',
 'log-data/2018/11/2018-11-08-events.json',
 'log-data/2018/11/2018-11-09-events.json']

In [6]:
song_data_files = [filename.key for filename in bucket.objects.filter(Prefix='song-data/A/A')]
song_data_files[:10]

['song-data/A/A/A/TRAAAAK128F9318786.json',
 'song-data/A/A/A/TRAAAAV128F421A322.json',
 'song-data/A/A/A/TRAAABD128F429CF47.json',
 'song-data/A/A/A/TRAAACN128F9355673.json',
 'song-data/A/A/A/TRAAAEA128F935A30D.json',
 'song-data/A/A/A/TRAAAED128E0783FAB.json',
 'song-data/A/A/A/TRAAAEM128F93347B9.json',
 'song-data/A/A/A/TRAAAEW128F42930C0.json',
 'song-data/A/A/A/TRAAAFD128F92F423A.json',
 'song-data/A/A/A/TRAAAGR128F425B14B.json']

In [7]:
try:
    print('Creating a new IAM Role')
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_ROLE_ARN,
        Description = "Allows Redshift clusters to call AWS services on your behalf",
        AssumeRolePolicyDocument = json.dumps(
            {'Statement':[{'Action': 'sts:AssumeRole',
                          'Effect':'Allow',
                           'Principal': {'Service': 'redshift.amazonaws.com'}}],
                'Version':'2012-10-17'}
        )
    )
    
except Exception as e:
    print(e)

Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.

In [8]:
print('Attaching Policy')

iam.attach_role_policy(RoleName=DWH_ROLE_ARN,
                        PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

Attaching Policy

200

In [9]:
print('Get the IAM role ARN')
roleArn = iam.get_role(RoleName=DWH_ROLE_ARN)['Role']['Arn']

print(roleArn)

Get the IAM role ARN
arn:aws:iam::760258520193:role/dwhRole

In [10]:
try:
    response = redshift.create_cluster(        
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        DBName=DWH_DB_NAME,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
         IamRoles=[roleArn]
    )
except Exception as e:
    print(e)

In [12]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cifxeutpliax.us-east-1.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0462a7049201fb898
7,NumberOfNodes,4

In [13]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.cifxeutpliax.us-east-1.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::760258520193:role/dwhRole

In [14]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName= defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_DB_PORT),
        ToPort=int(DWH_DB_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0516c77fb12d2ff8d')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [15]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_DB_PORT,DWH_DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cifxeutpliax.us-east-1.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [16]:
!python3 create_tables.py

In [17]:
%sql SELECT DISTINCT tablename FROM pg_table_def WHERE schemaname = 'public';

 * postgresql://dwhuser:***@dwhcluster.cifxeutpliax.us-east-1.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('artists',),
 ('songplays',),
 ('songs',),
 ('staging_events',),
 ('staging_songs',),
 ('time',),
 ('users',)]

In [18]:
!python3 etl.py

In [19]:
%sql SELECT * FROM staging_events LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cifxeutpliax.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(75, None, 'Logged In', 'Christian', 'F', '0', 'Porter', None, 'free', 'Elkhart-Goshen, IN', 'GET', 'Home', '1540897318796', 10, None, 200, 1541641041796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 11),
 (83, 'Rihanna', 'Logged In', 'Christian', 'F', '1', 'Porter', '293.82485000000003', 'free', 'Elkhart-Goshen, IN', 'PUT', 'NextSong', '1540897318796', 10, 'Rehab', 200, 1541641099796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 11),
 (91, None, 'Logged In', 'Christian', 'F', '2', 'Porter', None, 'free', 'Elkhart-Goshen, IN', 'GET', 'Upgrade', '1540897318796', 10, None, 200, 1541641113796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 11),
 (49, None, 'Logged Out', None, None, '0', None, None, 'free', None, 'GET', 'Home', None, 18, None, 200, 1541239749796, None, None),
 (11, 'Slipknot', 'Logged In', 'Aiden', 'M', '0', 'Ramirez', '192.57424', 'paid', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', '1540283578796', 19, 'Opium Of The People (Album Version)', 200, 1541639510796, '"Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 20)]

In [20]:
%sql SELECT * FROM staging_songs LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cifxeutpliax.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOZCTXZ12AB0182364', 1, 'Setanta matins', 'Elena', 49.80388, 0, 269.58322, 'AR5KOSW1187FB35FF4', 15.47491, 'Dubai UAE'),
 ('SOBKPPQ12A58A78407', 1, 'Hunting By Echo', 'Alabama Thunderpussy', None, 2001, 274.49424, 'AR7RUDQ1187B98C147', None, None),
 ('SOQEYZY12A58A77AF2', 1, 'Folding Stars', 'Biffy Clyro', None, 2007, 255.16363, 'AR3GZLR1187FB3D817', None, None),
 ('SOQPIFV12AB017C713', 1, 'Semillas de odio', 'Saratoga', None, 0, 573.04771, 'ARMTTNS1187FB39C92', None, None),
 ('SOFZCOT12A8C1403F4', 1, 'Master of Puppets', 'Santa Claws and the Naughty But Nice Orchestra', None, 2007, 311.82322, 'ARSRAKS11F4C83FDB5', None, None)]